{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "linebreak-style": [
      "error",
      "windows"
    ],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "new-cap": ["error", { "capIsNewExceptionPattern": "express" }],
    "max-len": ["error", { 
        "code": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true
    }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": false,
            "ClassDeclaration": false,
            "ArrowFunctionExpression": false,
            "FunctionExpression": false
        }
    }]
  }
}